
<div class="row">
  <div class="col-lg-6">
    <div class="well">
      <form class="form-horizontal">
        <legend>Legend</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" autocomplete="off">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="off">
            <div class="checkbox">
              <label>
<input id="post_author_ids_1" name="post[author_ids][]" type="checkbox" value="1" checked="checked" />
<label for="post_author_ids_1">D. Heinemeier Hansson</label><br />
<input id="post_author_ids_2" name="post[author_ids][]" type="checkbox" value="2" />
<label for="post_author_ids_2">D. Thomas</label><br />
<input id="post_author_ids_3" name="post[author_ids][]" type="checkbox" value="3" />
<label for="post_author_ids_3">M. Clark</label><br />
<input name="post[author_ids][]" type="hidden" value="" />              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">Textarea</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="textArea"></textarea>
            <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Radios</label>
          <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                Option one is this
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="select" class="col-lg-2 control-label">Selects</label>
          <div class="col-lg-10">
            <select class="form-control" id="select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <br>
            <select multiple="" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-default">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div></div>
    </div>
    <div class="col-lg-4 col-lg-offset-1">

      <form >
        <div class="form-group">
          <label class="control-label" for="focusedInput">Focused input</label>
          <input class="form-control" id="focusedInput" type="text" value="This is focused..." style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
        </div>

        <div class="form-group">
          <label class="control-label" for="disabledInput">Disabled input</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
        </div>

        <div class="form-group has-warning">
          <label class="control-label" for="inputWarning">Input warning</label>
          <input type="text" class="form-control" id="inputWarning">
        </div>

        <div class="form-group has-error">
          <label class="control-label" for="inputError">Input error</label>
          <input type="text" class="form-control" id="inputError">
        </div>

        <div class="form-group has-success">
          <label class="control-label" for="inputSuccess">Input success</label>
          <input type="text" class="form-control" id="inputSuccess">
        </div>

        <div class="form-group">
          <label class="control-label" for="inputLarge">Large input</label>
          <input class="form-control input-lg" type="text" id="inputLarge">
        </div>

        <div class="form-group">
          <label class="control-label" for="inputDefault">Default input</label>
          <input type="text" class="form-control" id="inputDefault">
        </div>

        <div class="form-group">
          <label class="control-label" for="inputSmall">Small input</label>
          <input class="form-control input-sm" type="text" id="inputSmall">
        </div>

        <div class="form-group">
          <label class="control-label">Input addons</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Button</button>
            </span>
          </div>
        </div>
      </form>

    </div>
  </div>



  <style>
    [required] {
      border-color: #88a;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
    }
    :invalid {
      border-color: #e88;
      -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    }
  </style>



  <% if @user.errors.any? %>
  <div id="error_explanation" class="row warning">
    <div class="col-md-12">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->
    <div class="clearfix visible-xs-block"></div>
    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  </div>


  <%= nested_form_for( @user, :html => {:multipart => true}) do |form| %>

  <div class="field">
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </div>
  <div class="field">
    <%= form.label :epost %><br>
    <%= form.text_field :epost %>
  </div>
  <div class="field">




    <p>Press here to add more forms</p>
    <p>Only for you : </p>
    <%= @user.added_play_bricks.inspect %>
    <% form.fields_for :added_play_bricks do |builder| %>
    <p>loser</p>
    <%= render "new_play_bricks_fields", :form => form , :p => builder %>
    <% end %>
    <p>
      <%= form.link_to_add "Add a brick", :added_play_bricks %>
    </p>

  </div>

  <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password, :id => 'password' %>
  </div>
  <div class="field">
    <%= form.label :confirm_password %><br>
    <%= form.password_field :confirm_password, :id => 'confirm_password' %>
  </div>
  <div id="divCheckPasswordMatch">Enter PassWord</div>
  <div class="actions" id="submit_button" hidden>
    <%= form.submit%>
  </div>
  <% end %>
