<span id="play_brick_span">
  <%= f.radio_button  :default_play_brick_id, :new, :name => "default_play_brick_id" %>
  <%= p.label "add your own brick" %>
  <p>
    <%= p.check_box :_destroy %>
    <%= p.label "Destroy this Image" %>
  </p>
  <p>
    <%= p.label "name" %>
    <%= p.text_field :name %>
    <%= p.file_field :image , :id => "uploader"%>
  </p>
</span>
