<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_by %><br>
    <%= f.number_field :start_by %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :winner %><br>
    <%= f.text_field :winner %>
  </div>
  <div class="field">
    <%= f.label :losser %><br>
    <%= f.number_field :losser %>
  </div>
  <div class="field">
    <%= f.label :turn %><br>
    <%= f.number_field :turn %>
  </div>
  <div class="field">
    <%= f.label :first_player %><br>
    <%= f.number_field :first_player %>
  </div>
  <div class="field">
    <%= f.label :secound_player %><br>
    <%= f.number_field :secound_player %>
  </div>
  <div class="field">
    <%= f.label :first_player %><br>
    <%= f.number_field :first_player %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.date_select :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.date_select :end_at %>
  </div>
  <div class="field">
    <%= f.label :mode %><br>
    <%= f.text_field :mode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
