<h1>Listing games</h1>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-xs-6">.col-xs-6</div>
  <div class="col-xs-6">.col-xs-6</div>
</div>


<table>
  <thead>
    <tr>
      <th>Start by</th>
      <th>Columns</th>
      <th>Rows</th>
      <th>Winner</th>
      <th>Losser</th>
      <th>Turn</th>
      <th>First player</th>
      <th>Secound player</th>
      <th>First player</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Mode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.start_by %></td>
        <td><%= game.columns %></td>
        <td><%= game.rows %></td>
        <td><%= game.winner %></td>
        <td><%= game.losser %></td>
        <td><%= game.turn %></td>
        <td><%= game.first_player %></td>
        <td><%= game.secound_player %></td>
        <td><%= game.first_player %></td>
        <td><%= game.start_at %></td>
        <td><%= game.end_at %></td>
        <td><%= game.mode %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
