<p id="notice"><%= notice %></p>

<p>
  <strong>Start by:</strong>
  <%= @game.start_by %>
</p>

<p>
  <strong>columns:</strong>
  <%= @game.columns %>
</p>

<p>
  <strong>rows:</strong>
  <%= @game.rows %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @game.winner %>
</p>

<p>
  <strong>Losser:</strong>
  <%= @game.losser %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @game.turn %>
</p>

<p>
  <strong>First player:</strong>
  <%= @game.first_player %>
</p>

<p>
  <strong>Secound player:</strong>
  <%= @game.secound_player %>
</p>

<p>
  <strong>First player:</strong>
  <%= @game.first_player %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @game.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @game.end_at %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @game.mode %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<style>
  #game td{
    border: solid black;
    padding: 4px;
  }
</style>

<table id="game">
  <% @plots2D.each do |row| %>
    <tr>
      <% row.each do |plot| %>
        <td style="width:100px; height:100px" >
          <p>ID:<%= plot.id %></p>
          <p>
            <%= plot.vertical %>
            <%= plot.horizontal %>
          </p>
          <% if plot.selected_by %>
            <p>
              <%= plot.selected_by.username %>
            </p>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
