<style>
  [required] {
    border-color: #88a;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
  }
  :invalid {
    border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  }
</style>

<%= form_for @user, :html => {:multipart => true} do |f| %>
   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :epost %><br>
    <%= f.text_field :epost %>
  </div>
  <div class="field">
    <%= f.label :default_play_brick_id %>
    <% @show_to_all_bricks.each do |brick|%>
      <span id="play_brick_span">
        <%= f.radio_button  :default_play_brick_id, brick.id %>
        <%= f.label brick.name.to_sym %>
      </span>
    <% end %>
      
    <br />
    <p>You added or going to add: </p>
    <span id="play_brick_span">
      <%= f.fields_for :play_bricks do |builder| %>
        <%= render "play_bricks_fields", :f => builder %>
      <% end %>
    </span>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, :id => 'password' %>
  </div>
  <div class="field">
    <%= f.label :confirm_password %><br>
    <%= f.password_field :confirm_password, :id => 'confirm_password' %>
  </div>
  <div id="divCheckPasswordMatch">Enter PassWord</div>
  <div class="actions" id="submit_button" hidden>
    <%= f.submit%>
  </div>
<% end %>
